.NewMessage{
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.NewMessage button{
    border: none;
    background-color: #242e35;
    color: #dae2e7;
    width: 15%;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.NewMessage input{
    padding-left: 10px;
    border: none;
    color: #dae2e7;
    width: 85%;
    border-radius:  5px 0 0 5px;
    height: 50px;
    background-color: #3f4950;
}